/* Import Font */
  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');
body {
    font-family: 'Gabarito', cursive;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(https://i.pinimg.com/564x/f7/b1/32/f7b132af0048f28998d0f06f707aa686.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  img{
    border-radius: 800px;
    width: 150px;
    
  }
  .link-item {
    width: 100%;
    height: 56px;
    margin: 16px;
    border-radius: 20px;

    color: white;
    text-decoration: none;
    background-color: purple;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  .container {
              display: flex;
              align-items: center;
    flex-direction: column;

  }
.title-container {
  align-items: center;
    flex-direction: column;
    display: flex;
   margin: 0;
   color: white;
}
.icon {
  margin: 3px 8px;
  width: 44px;
  height: 44px;
}
#ariana:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.02);
  background-color: rgb(255, 0, 43);
}
#insta:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.02);
  background-color: rgb(214, 41, 118);
}
#wa:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.02);
  background-color: #25D366;
}
#spotify:hover {
  transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
  transform: scale(1.02);
  background-color: #2e6a33;
}